body{
    display: grid;
    grid-template-areas: "nav"
                        "banner"
                        "main"
                        "section"
                        "footer";
    grid-template-columns: 100vw;
    margin: 0%;
}
header{
    background-image: url(../images/logo-siri.png);
    background-repeat: no-repeat;
    background-position: center;
    grid-area: banner;
    height: 160px;
    margin: 10px 0;
}
main{
    background-color: #ffffff;
    grid-area: main;
}
main h1{
    color: #c52024;
}
main p{
    color: #454a47;
}
main h1, main p{
    text-align: center;
}
nav{
    align-items: center;
    background-color: #e25054;
    display: flex;
    grid-area: nav;
    height: 60px;
    justify-content: space-between;
    padding: 0 12px;
}
nav div:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 23px;
    justify-content: space-between;
}
nav div:nth-child(3){
    display: none;
}
nav div span{
    background-color: black;
    height: 3px;
    width: 30px;
}
nav img{
    width: 40px;
}
section{
    align-items: center;
    grid-area: section;
    display: flex;
    flex-direction: column;
}
section .funcionarios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}

section .funcionarios div img{
    width: 100px;
}
@media(min-width:580px){
    header{
        background-image: url(../images/bob-hamburguer-siri.png);
        background-size: cover;
        height: 500px;
    }
    nav div a{
        text-decoration: none;
        font-size: 14pt;
    }
    nav div:nth-child(2){
        display: none;
    }
    nav div:nth-child(3){
        display: block;
    }
    section .funcionarios{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 99vw;
    }
}
@media(min-width:710px){
    header{
        background-image: url(../images/bob-hamburguer.jpg);
    }
}