body{
    display: grid;
    grid-template-areas: "nav"
                        "banner"
                        "main"
                        "section"
                        "footer";
    grid-template-columns: 100vw;
    margin: 0%;
}
header{
    background-image: url(../images/logo-siri.png);
    background-repeat: no-repeat;
    background-position: center;
    grid-area: banner;
    height: 160px;
    margin: 10px 0;
}
main{
    background-color: #f9d198a6;
    grid-area: main;
}
main h1, main p{
    text-align: center;
}
nav{
    align-items: center;
    background-color: #e25054;
    display: flex;
    grid-area: nav;
    height: 60px;
    justify-content: space-between;
    padding: 0 12px;
}
nav div{
    display: flex;
    flex-direction: column;
    height: 23px;
    justify-content: space-between;
}
nav div span{
    background-color: black;
    height: 3px;
    width: 30px;
}
nav img{
    width: 40px;
}